
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {

}
.header__search {
  width: 500px;
  background-color: #F0F8FA;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
}
.header__search:focus {
  border-color: #CCC9C9;
}
.header__menu {
  display: flex;
  column-gap: 20px;
}
/*------------------------------ CONTENT ----------------------------------*/
.content {
  display: flex;
  column-gap: 30px;
  color: #434343;
}
/*------------------------------------- SIDE BAR  -------------------------------------*/
.side-bar {
  width: 540px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.side-bar__item {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  font-size: 18px;
  color: #434343;
  margin-top: 20px;
}
.side-bar__title {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
}
.side-bar__title img {
  display: block;
  padding-top: 10px;
}
/*---------------------- SIDE BAR INPUTS--------------------*/
.side-bar__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.side-bar__input-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.side-bar__label {
  margin-top: 10px;
  font-size: 17px;
}
.side-bar__input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
}
.side-bar__input-loading {
  margin-top: -7px;
}
.side-bar__slider {
  margin-top: 10px;
}
.side-bar__add-book {
  margin-top: 50px;
}
.side-bar__title_add-book {
  margin-bottom: -5px;
  cursor: pointer;
}
.side-bar__add-book_line {
  width: 100%;
  border-color: #CBE21D;
  color: #CBE21D;
  position: relative;
}
.side-bar__add-book_line:after {
  content: "";
  background-image: url("./images/add-book_open.svg");
  background-size: 51px 27px;
  width: 51px;
  height: 27px;
  position: absolute;
  top: 0;
  left: 0
}
.side-bar__clear-button {
  color: #ED2124;
  border: none;
  background: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.clear {
  cursor: pointer;
}
.clear::before {
  display: inline-block;
  content: '';
  background-image: url("./images/icon_delete.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
/*--------------------- FILTERS PANEL -------------------*/
.filters-panel {
  margin-top: 10px;
  display: flex;
  column-gap: 20px;
}
.filter-panel__filter {
  display: flex;
  align-items: center;
}
/*------------------------ BOOKs ------------------------*/
.books {
  margin-top: 20px;
}
.books__catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}
.book {
  background-color: #F5F5F5;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px 5px 5px;
  cursor: pointer;
}
.book__preview {
  width: 139px;
}
.book__title {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
  color: #020202;
  text-align: center;
}
.book__author {
  font-size: 16px;
  color: #787878;
  text-align: center;
  margin: 5px 0 0 0;
}
.book__pages {
  font-size: 16px;
  color: #787878;
  margin: 5px 0 0 0;
}
/* -------------------- BOOK CARD -----------------------*/
.book__card {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  padding: 0 15px;
}
.book__descript {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.book_top {
  display: flex;
}
.book_bottom {
  display: flex;
  column-gap: 20px;
}
.book__descript-mainImg {
  max-width: 800px;
  max-height: 600px;
  background-color: #F5F5F5;
}
.mainImg__img {
  max-width: 100%;
  height: 100%;
}
.book__descript-content {
  display: flex;
  flex-direction: column;
  padding: 42px 35px 25px 25px;
}
.book__title {
  font-size: 21px;
  color: #787878;
}
.book_author {
  text-align: center;
}
.book__text-descript {
  border-spacing: 10px
}
.table__first-column {
  min-width: 150px;
}
.book_face-preview {
  height: 140px;
}