
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {

}
.header__search {
  width: 500px;
  background-color: #F0F8FA;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
}
.header__search:focus {
  border-color: #CCC9C9;
}
.header__search::placeholder {
  color: #CCC9C9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
}
.header__menu {
  display: flex;
  column-gap: 20px;
}
.content {
  display: grid;
  grid-template-columns: 310px 1fr;
  column-gap: 20px;
  color: #787878;
}
.side-bar {
  width: 310px;
}
.side-bar__search {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 16px;
  color: #787878;
}
.books-pre__text {
  color: #787878;
  font-size: 16px;
}
.side-bar__inputs {
  display: flex;
  flex-direction: column;
}
.side-bar__label {
  margin-top: 10px;
  margin-bottom: 5px;
}
.side-bar__input {
  padding: 5px;
  border: solid 1px #787878;
  border-radius: 5px;
  color: #CCC9C9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
}
